*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

#app{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(217,219,210);
    background: -moz-linear-gradient(0deg, rgba(217,219,210,1) 88%, rgba(0,150,136,1)88%);
    background: -webkit-linear-gradient(0deg, rgba(217,219,210,1) 88%, rgba(0,150,136,1)88%);
    background: linear-gradient(0deg, rgba(217,219,210,1) 88%, rgba(0,150,136,1) 88%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d9dbd2",endColorstr="#009688",GradientType=1);
    
}

/*INIZIO MAIN STRUTTURA*/

.main-container{
    margin: 0 auto;
    width: 80%;
    height: 90%;
    background-color: white;
    display: flex;
}

.contatti{
    height: calc(100vh - 50px);
    margin: 0;
}

.chat{
    
    height: 100%;
   
}

/*CLASSI UTILITY*/

.outline{
    outline: 1px solid rgb(177, 177, 177);
}



.icons-color {
    color: rgba(182,182,182,255);
}

.type-bar-icon-color {
    color: rgba(107,115,118,255)
}

.searchbar span {
    background-color: white;
}

.heigth-30{
    height: 30px;
}

.background-color-grey{
    background-color: rgba(165, 165, 165, 0.192);
}

.box-shadow {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.349);
}

.sent {
    justify-content: flex-end;
    
}

.recieved{
    justify-content: flex-start;
}

.sent .message{
    background-color: rgba(213,249,186,255);
    border-radius: 10px 0px 10px 10px;
}

.received .message{
    background-color: #fff;
    border-radius: 0px 10px 10px 10px;
}

.margin-right-0{
    margin-right: 0;
}



/*FINE MAIN STRUTTURA*/

/*INIZIO STRUTTURA CONTATTI*/

.profile{
    padding: 5px;
    background-color: rgba(234,234,234,255);
}

.notify {
    padding: 10px;
    background-color: rgba(142,218,252,255);
}

.notify-color{
    color: rgba(142,218,252,255);
    background-color: white;
    padding: 5px 3px;
    border-radius: 50%;
}

.searchbar{
    padding: 5px;
    background-color: rgba(250,250,250,255);

}

.chats{
    padding: 10px;
}

.chats:hover {
    background-color: rgb(236, 236, 236);
}

.fa-solid {
    cursor: pointer;
}



.profile img, .chats img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

 .profile, .message, .notify p, a{
    font-size: 10px;
}


/*INIZIO STRUTTURA MAIN CHAT*/


.main-chat{
    background-image: url(../img/mine.jpg);
    background-repeat: repeat; 
    height: calc(100% - 105px);
}

.type-bar{
    height: 45px;
    background-color: rgba(234,234,234,255);;
}

.chat-container{
    width: 80%;
    background-color: whitesmoke;
    height: 200px;
    
}

.message p {
  padding: 10px 10px 0px 10px;
  font-size: 16px;
  
}

.message .date p {
    font-size: 10px;
} 

.message{
    border-radius: 10px 0px 10px 10px;
}

.green-text{
    background-color: rgba(213,249,186,255);
}

.align-self-end{
    align-self: flex-end;
}

.align-self-start{
    align-self: flex-start;
}

.white-text{
    background-color: white
}

.container-messages{
    width: 80%;
    margin: 0 auto;
}

