*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

#app{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(217,219,210);
    background: -moz-linear-gradient(0deg, rgba(217,219,210,1) 88%, rgba(0,150,136,1)88%);
    background: -webkit-linear-gradient(0deg, rgba(217,219,210,1) 88%, rgba(0,150,136,1)88%);
    background: linear-gradient(0deg, rgba(217,219,210,1) 88%, rgba(0,150,136,1) 88%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d9dbd2",endColorstr="#009688",GradientType=1);
    
}

/*INIZIO MAIN STRUTTURA*/

.main-container{
    margin: 0 auto;
    width: 80%;
    height: 90%;
    background-color: white;
    display: flex;
}

.contatti{
    width: 500px;
    height: 100%;
    background-color: orange;
    margin: 0;
}

.chat{
    width: calc(100% - 500px);
    height: 100%;
    background-color: grey;
}

/*FINE MAIN STRUTTURA*/

/*INIZIO STRUTTURA CONTATTI*/

.profile{
    height: 7vh;
    background-color: rgba(234,234,234,255);
}

.notify {
    height: 10vh;
    background-color: rgba(142,218,252,255);
}